<url>
  <loc>{{ post.url | absolute_url }}</loc>
  <lastmod>{{ post.date | date_to_xmlschema }}</lastmod>
  {% if page.priority %}<priority>{{page.priority}}</priority>{%endif%}
  {% for image in post.images %}
  <image:image>
  <image:loc>{{site.url}}{{ image.source }}</image:loc>
    <image:title>{{ image.title }}</image:title>
    <image:caption>{{ image.caption }}</image:caption>
  </image:image>
  {% endfor %}
</url>
